<div class="container">
  <h2>Subscription List</h2>
  <div *ngIf="subscriptions.length > 0">
    <ul class="list-group">
      <li *ngFor="let subscription of subscriptions" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          ID: {{ subscription.id }}, Investor ID: {{ subscription.investorId }}, Amount: {{ subscription.amountPayment }}
        </div>
        <button
          class="btn btn-danger"
          (click)="cancelSubscription(subscription.id)"
        >
          Cancel
        </button>
      </li>
    </ul>
  </div>
  <div *ngIf="subscriptions.length === 0">
    <p>No subscriptions available.</p>
  </div>
</div>
